body {
    background-color: #f5f5f5;
}

h1.bayarjudul {
    text-align: center;
    color: #09a5ff;
    font-size: 30px;
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
}

.titikmap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.titikmap iframe{
    width: 400px;
    height: 350px;
    border-radius: 5px;
}

.info {
    margin-top: 40px;
}

.info p{
    text-align: left;
    color: #09a5ff;
    font-size: 20px;
}

.info .biodata {
    display: flex;
    justify-content: left;
}

.info .biodata img{
    width: auto;
    height: 150px;
}

.info .biodata .nama {
    margin-top: 20px;
}

.info .biodata .nama p{
    font-size: 13px;
}

p.notif {
    text-align: center;
    color: #09a5ff;
    margin-top: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #111;
    margin-top: 60px;
    margin-left: -30px;
    margin-right: -30px;
}

.menufooter {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.menufooter i:hover {
    color: #09a5ff;
}

.footer i{
    font-size: 30px;
    color: #64c6ff;
}